*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
::-moz-selection{
    background: #50C1F0;
    color: var(--fff-color);
}
::selection{
    background: #50C1F0;
    color: var(--fff-color);
}
body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
:root{
    --great-font   : 'Great Vibes', cursive;
    --lato-font    : 'Lato', sans-serif;
    --raleway-font : 'Raleway', sans-serif;
    --main-t-color : #535353;
    --btn-bg-color : #e54c2a ;
    --fff-color    : #ffffff;
    --small-font   : 1.4rem;
    --small2-font : 1.5rem;
    --transition  : all .4s ease-in-out;
}
.container{
    overflow: hidden;
}
/*===========reuseable================*/
h1{
    font-size: 5rem;
    line-height: 6rem;
    color: var(--main-t-color);
    font-weight: 600;
}
h2{
    font-size: 3.6rem;
    line-height: 4.32rem;
    color: var(--main-t-color);
    font-family: var(--great-font);
}
h3{
    color: var(--main-t-color);
    font-size: 2rem;
    line-height: 24px;
    font-weight: 600;
}
p.lato-para{
    font-size: var(--small-font);
    color: #757575;
    font-family: var(--lato-font);
    line-height: 2.4rem;
}
p.sub-title{
    font-size: 1.6rem;
    color: #555555;
    font-weight: 600;
}
.main-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--fff-color);
    padding: 14px 23px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: var(--transition);
    border: 1px solid var(--btn-bg-color);
    overflow: hidden;
}
.main-btn::before{
    position: absolute;
    content: "";
    transition: var(--transition);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg-color);
    z-index: -1;
}

.main-btn:hover::before{
    width: 0;
}

.main-btn:hover{
    color: var(--main-t-color);
    border: 1px solid var(--main-t-color);
}
/*=============reuseable title========*/
.main-heading-title h2{
    position: relative;
}
.main-heading-title h2::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -23px;
    width: 145px;
    height: 1px;
    background: var(--btn-bg-color);
    transform: translate(-50%, 0);
}
.main-heading-title h2::after {
    position: absolute;
    content: "";
    background: #f1f1f1 url(../img/title.webp) no-repeat center center;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 36px;
    width: 36px;
    line-height: 30px;
    border-radius: 50%;
}
.main-title p.lato-para {
    margin-top: 4.2rem;
    margin-bottom: 3rem;
}
/*====list design====*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/*=====sticky header=====*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0px 3px 18px 0 #ffa5a58c;
    -webkit-animation: stickyHeader 2s;
            animation: stickyHeader 2s;
}
@-webkit-keyframes stickyHeader{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes stickyHeader{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}
/*===========================
navigation bar
=============================*/
#header .container{
    overflow: visible;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-top: -9.3rem;
    z-index: 99999;
}
.navbar-brand img{
    position: absolute;
    top: 0;
    left: 0;
    width: 145px;
}
.navbar-nav .nav-item{
    padding: 2.8rem 1.5rem;
    position: relative;
}
.navbar-nav .nav-item .nav-link{
    color: var(--main-t-color);
    font-size: var(--small2-font);
    text-transform: uppercase;
    font-weight: 700;
    transition: var(--transition);

}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--btn-bg-color);
}
/*=====dorpdown menu======*/
.navbar-nav .nav-item .dropdown-menu-bar {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-20%) scaleY(0);
    display: flex;
    background: var(
    --fff-color);
    box-shadow: 0 13px 33px 0 #ffe6e6ad;
    padding: 20px 25px;
    border-top: 3px solid var(--btn-bg-color);
    border-bottom: 3px solid var(--btn-bg-color);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    transform-origin: top center;
    z-index: 999999;
}
.navbar-nav .nav-item:hover .dropdown-menu-bar{
    transform: translateX(-20%) scaleY(1);
    opacity: 1;
    visibility: visible;
}
.navbar-nav .nav-item ul h5{
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--small2-font);
    margin-bottom: 20px;
    color: var(--main-t-color);
}
.navbar-nav .nav-item ul{
    padding: 10px;
}
.navbar-nav .nav-item ul li a {
    font-size: var(--small2-font);
    color: var(--main-t-color);
    padding-right: 115px;
    padding-bottom: 3px;
    padding-top: 13px;
    display: block;
    border-bottom: 1px solid #d1d1d1;
    transition: var(--transition);
}
.navbar-nav .nav-item ul li a:hover{
    color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}
/*=====responsive mobile menu====*/
.responsive-mobile-menu {
    display: none;
}

.for-responsive-icon{
    cursor: pointer;
}
.responsive-mobile-menu-icon {
    width: 20px;
    height: 20px;
    background: #000;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 15%, 0% 42%, 100% 42%, 100% 55%, 0% 55%, 0% 85%, 100% 85%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 15%, 0% 42%, 100% 42%, 100% 55%, 0% 55%, 0% 85%, 100% 85%, 100% 100%, 0% 100%);
    margin-right: 21px;
    transition: var(--transition);
    position: relative;
}
.active .responsive-mobile-menu-icon{
    -webkit-clip-path: polygon(15% 0%, 0% 15%, 35% 50%, 0% 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0%, 50% 35%) !important;
    clip-path: polygon(15% 0%, 0% 15%, 35% 50%, 0% 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0%, 50% 35%) !important;
    transition: var(--transition);
    cursor: pointer;
}
.responsive-mobile-menu .responsive-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99999;
    background: #f3f3f3;
    display: block;
    width: 600px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transition: var(--transition);
    transform-origin: top center;
}
.responsive-mobile-menu .responsive-menu.active {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    transition: var(--transition);
}

.responsive-mobile-menu ul li {
    display: block;
    padding: 4px 32px !important;
    position: relative;
}
.responsive-mobile-menu ul li ul {
    position: unset;
    padding: 0px !important;
    width: 100%;
    display: none;
}
.responsive-mobile-menu ul li.active ul{
    display: block;
}
.responsive-mobile-menu ul li ul li {
    padding: 4px 0px !important;
    
}
.responsive-mobile-menu ul li ul li a {
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px !important;
}
.responsive-mobile-menu ul li ul li ul{
    display: none !important;
}
.responsive-mobile-menu ul li ul li.active ul{
    display: block !important;
}
.responsive-mobile-menu ul li ul li ul li a {
    padding-left: 40px;
}

.responsive-mobile-menu ul li a{
    display: block;
    position: relative;
    border-bottom: 1px solid #000;
}

.responsive-mobile-menu ul li span {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 30px;
}
.responsive-mobile-menu ul li span::before{
    position: relative;
    content: "+";
    top: 0;
    right: 0;
    transition: var(--transition);
}
.responsive-mobile-menu ul li.active span::before{
    position: relative;
    content: "-";
    top: 0;
    right: 0;
    transition: var(--transition);
}
.responsive-mobile-menu ul li ul li span::before{
    position: relative;
    content: "+" !important;
    top: 0;
    right: 0;
    transition: var(--transition);
}
.responsive-mobile-menu ul li ul li.active span::before{
    position: relative ;
    content: "-" !important;
    top: 0;
    right: 0;
    transition: var(--transition);
}

/*============header form=========*/

.header-search{
    display: inline-block;
    position: relative;
    padding:  0;
    cursor: pointer;
}
.header-search .header-search-form {
    position: absolute;
    top: -90%;
    right: 0;
    width: 970px;
    background: #f5f3f3;
    padding: 12px;
    box-shadow: 0 0 30px 0 #ffa0a05e;
    opacity: 0;
    visibility: hidden;
}
.header-search:hover .header-search-form{
    opacity: 1;
    visibility: visible;
}
.header-search .header-search-form input{
    background: var(--fff-color);
    width: 100%;
    font-size: var(--small2-font);
    padding: 8px 20px;
    font-weight: 600;
    border: 1px solid transparent;
}
.header-search .header-search-form input:focus{
    border: 1px solid var(--btn-bg-color);
    outline: none;
}
.header-search .header-search-form input::-webkit-input-placeholder{
    color: var(--btn-bg-color);
    font-weight: 500;
}
.header-search .header-search-form input::-moz-placeholder{
    color: var(--btn-bg-color);
    font-weight: 500;
}
.header-search .header-search-form input:-ms-input-placeholder{
    color: var(--btn-bg-color);
    font-weight: 500;
}
.header-search .header-search-form input::-ms-input-placeholder{
    color: var(--btn-bg-color);
    font-weight: 500;
}
.header-search .header-search-form input::placeholder{
    color: var(--btn-bg-color);
    font-weight: 500;
}
.header-search .header-search-form button {
    color: var(--main-t-color);
    font-size: 1.6rem;
    transition: var(--transition);
    cursor: pointer;
    border: none;
    background: transparent;
    position: absolute;
    right: 21px;
    top: 22px;
}
.header-search span{
    color: var(--main-t-color);
    font-size: 1.6rem;
    transition: var(--transition);
    cursor: pointer;
}
.header-search span:hover{
    color: var(--btn-bg-color);
}
/*===========================
end navigation bar
=============================*/
/*===========================
banner section
=============================*/
#banner-slider{
    position: relative;
}
#banner-slider .nivo-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    opacity: 1 !important;
}
#banner-slider .nivo-caption p.lato-para {
    width: 84%;
    margin: auto;
    margin-bottom: 26px;
    display: block !important;
}
#banner-slider .nivo-control {
    font-weight: bold;
    font-size: 20px;
    color: var(--main-t-color);
    padding: 0 9px;
}
#banner-slider .nivo-control.active{
    font-size: 23px;
    color: var(--btn-bg-color);
}
#banner-slider .nivo-controlNav {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
}
.banner-social-icon ul li{
    /* text-align: center; */
    padding-left: 33px;
}
.banner-social-icon ul li a {
    color: var(--main-t-color);
    transition: var(--transition);
    font-size: var(--small-font);
    text-align: center;
    display: inline-block !important;
    width: 12px;
}
.banner-social-icon ul li a:hover{
    color: var(--btn-bg-color);
}
.banner-social-follow {
    margin-top: 50px;
}
.banner-social-follow p {
    font-size: 1.4rem;
    color: var(--main-t-color);
    font-weight: 600;
    position: relative;
    margin-left: 0;
    margin-top: 30px;
    display: inline-block;
    transform: rotate(-90deg);
}
.banner-social-follow p::after {
    position: absolute;
    content: "";
    width: 65%;
    height: 2px;
    background: var(--btn-bg-color);
    top: 49%;
    right: -66%;
}
/*===========================
end banner section
=============================*/
/*===========================
about section
=============================*/
#about{
    padding: 10rem 0;
}
.about-content p.sub-title{
    margin: 2rem 0;
}
.about-content a.main-btn{
    margin-top: 2rem;
}
.about-img img{
    width: 100%;
}
/*===========================
end about section
=============================*/
/*===========================
popular section
=============================*/
#popular-dishes{
    position: relative;
    background: #F1F1F1;
    padding: 10rem 0;
}
#popular-dishes::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: url(../img/bg-2.webp) no-repeat top right;
    width: 100%;
    height: 100%;
}
#popular-dishes::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: url(../img/bg-1.webp) no-repeat left bottom;
    width: 100%;
    height: 100%;
}
.popular-dishes-title h2{
    position: relative;
}
.popular-dishes-title h2::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -23px;
    width: 145px;
    height: 1px;
    background: var(--btn-bg-color);
    transform: translate(-50%, 0);
}
.popular-dishes-title h2::after {
    position: absolute;
    content: "";
    background: #f1f1f1 url(../img/title.webp) no-repeat center center;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 36px;
    width: 36px;
    line-height: 30px;
    border-radius: 50%;
}
#popular-dishes p.lato-para {
    margin-top: 4.2rem;
    margin-bottom: 3rem;
}
/*------ slick slider----------*/
.dishes-slider{
    z-index: 2;
}
.dishes-item {
    background: var(--fff-color);
    padding: 50px 25px;
    margin: 1rem 2rem;
}
.dishes-slider-img {
    margin-bottom: 25px;
}
.dishes-slider-img img{
    width: 100%;
}
.dishes-slider-title h3 a {
    color: var(--main-t-color);
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: block;
    transition: var(--transition);
}
.dishes-slider-title h3 a:hover{
    color: var(--btn-bg-color);
}
.dishes-slider-price p.dishes-price{
    color: var(--btn-bg-color);
    font-size: 2.4rem;
    font-family: var(--lato-font);
    line-height: 2.4px;
    font-weight: 600;
}
.slick-dots {
    bottom: -70px;
}
.slick-dots li button {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--lato-font);
    color: var(--main-t-color) !important;
    transition: var(--transition);
    font-weight: 700;
}
.slick-dots li.slick-active button{
    color: var(--btn-bg-color) !important;
    font-size: 2.4rem;
    transition: var(--transition);
}
.slick-dots li button:before {
    color: transparent;
    font-size: 0;
}
/*===========================
end popular section
=============================*/
/*===========================
food-menu section
=============================*/
#food-menu{
    padding: 10rem 0;
}
.food-menu{
    background: var(--fff-color);
    box-shadow: 0 0 30px 0 #e1e1e1f2;
    position: relative;
    text-align: center;
}
.food-menu::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: url(../img/bg-3.webp) no-repeat left center;
    width: 100%;
    height: 100%;
}
.food-menu::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: url(../img/bg-4.webp) no-repeat right center;
    width: 100%;
    height: 100%;
}
.food-menu li {
    display: inline-block;
    z-index: 1;
    position: relative;
}
.food-menu li a{
    color: var(--main-t-color);
    font-size: var(--small2-font);
    line-height: 2.4rem;
    font-weight: 600;
    padding: 60px  10px;
    display: block;
    cursor: pointer;
}
.food-menu li a:hover{
    color: var(--btn-bg-color);
}
.food-menu li a.active{
    color: var(--btn-bg-color);
}
.all-food{
    padding: 5rem 4rem ;
}
.all-food ul li{
    background: var(--fff-color);
    border: 1px solid #ebebebb8;
    margin: 2rem 0;
    transition: var(--transition);
}
.all-food ul li:hover{
    box-shadow: 0 0 24px 0 #f7c7c7c9;
}
.food-item .food-item-img {
    width: 22%;
    border-right: 1px solid #ebebebb8;
    padding: 17px 0;
}
.food-item .food-item-img img{
    width: 100%;
}
.food-item .food-item-title{
    width: 60%;
    padding-left: 2rem;

}
.food-item .food-item-title h3{
    margin-bottom: 0;
}
.food-item .food-item-title h3 a{
    font-size: 1.6rem;
    line-height: 1.92rem;
    color: var(--main-t-color);
    font-weight: 700;
}
.food-item .food-item-title h3 a:hover{
    color: var(--btn-bg-color);
}
.food-item .food-item-title p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--main-t-color);
    font-family: var(--lato-font);
    font-weight: 500;
}
.food-item .food-item-pice{
    width: 18%;
}
.food-item .food-item-pice p{
    font-size: 2.4rem;
    font-family: var(--lato-font);
    line-height: 2.4rem;
    color: var(--btn-bg-color);
    font-weight: 700;
}
.all-tab-item .tab-item{
display: none;
}
.all-tab-item .active{
    display: block;
}
/*===========================
end food-menu section
=============================*/
/*===========================
Our Gallery section
=============================*/
#gallery{
    background: #F1F1F1;
    position: relative;
    padding: 10rem 0;
}
#gallery::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: url(../img/gallery/bg-1.webp) no-repeat top left;
    width: 100%;
    height: 100%;
}
#gallery::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: url(../img/gallery/bg-2.webp) no-repeat right bottom;
    width: 100%;
    height: 100%;
}
#gallery .container{
    position: relative;
    z-index: 1000;
}
.gallery-button{
    text-align: center;
}
.gallery-button ul li{
    display: inline-block;
    color: var(--main-t-color);
    font-family: var(--lato-font);
    font-size: var(--small-font);
    line-height: 2.4rem;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}
.gallery-button ul li:hover{
    color: var(--btn-bg-color);
}
.gallery-button ul li.mixitup-control-active{
    color: var(--btn-bg-color);
    font-size: 1.6rem;
}

.gallery-img{
    position: relative;
    overflow: hidden;
}
.gallery-img::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e54c2a94;
    transition: var(--transition);
    z-index: 1;

}
.gallery-img:hover::before{
    width: 100%;
}
.gallery-img a{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    background: var(--fff-color);
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    z-index: 2;
    font-size: 4.2rem;
    color: var(--main-t-color);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}
.gallery-img:hover a{
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
}
.gallery-img img{
    width: 100%;
    height: 100%;
    transition: var(--transition);
}
.gallery-img:hover img{
    transform: scale(1.1);
}

/*===========================
end Our Gallery section
=============================*/
/*===========================
reservation section
=============================*/

#reservation{
    padding: 10rem 0;
    position: relative;
}
#reservation::before {
    position: absolute;
    content: "";
    top: 11%;
    left: -11%;
    background: url(../img/reserv-bg.webp) no-repeat top left;
    width: 100%;
    height: 100%;
}

.reserv-form-part {
    margin-top: 36px;
    background: var(--fff-color);
    position: relative;
    padding: 10rem;
    box-shadow: 0 0 30px 0 #bdbbbb54;
    z-index: 1;
}
.reserv-form-part::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 65px;
    background: url(../img/reserv-form-bg.webp) no-repeat right bottom;
    width: 100%;
    height: 100%;
}

.reserv-form{
    position: relative;
    z-index: 2;
}
.reserv-form form input{
    padding: 15px;
    border: 1px solid rgb(201 201 201 / 71%);
    background: var(--fff-color);
    display: block;
    width: 100%;
    margin: 20px 0;
    font-size: var(--small-font);
    font-weight: 600;
}
.reserv-form form input::-webkit-input-placeholder{
    color: #e54c2a;
}
.reserv-form form input::-moz-placeholder{
    color: #e54c2a;
}
.reserv-form form input:-ms-input-placeholder{
    color: #e54c2a;
}
.reserv-form form input::-ms-input-placeholder{
    color: #e54c2a;
}
.reserv-form form input::placeholder{
    color: #e54c2a;
}
.reserv-form form select {
    padding: 15px;
    border: 1px solid rgb(201 201 201 / 71%);
    background: var(--fff-color);
    display: block;
    width: 100%;
    margin: 20px 0 38px 0;
    font-size: var(--small-font);
    font-weight: 600;
    color: #e54c2a;
}
.reserv-form form select:focus{
    outline: none;
}
.reserv-form form input:focus{
    outline: none;
}
.reserv-form form button{
    display: block;
    width: 100%;
}
/*===========================
end reservation section
=============================*/
/*===========================
blog section
=============================*/
#blog{
    background: #f1f1f1;
    padding: 10rem 0;
}
.blog-content {
    background: var(--fff-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 94%;
    margin: auto;
    position: relative;
    z-index: 1;
    margin-top: -25px;
}
.blog-content .date {
    background: var(--btn-bg-color);
    padding: 13px 11px;
}
.blog-content .date p {
    font-size: 1.6rem;
    color: var(--fff-color);
    line-height: 1.3rem;
    font-family: var(--lato-font);
    font-weight: 600;
    margin-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
}
.blog-content .title h4{
    font-size: 14px;
    padding-left: 24px;
    font-weight: 700;
    color: var(--btn-bg-color);
}
.blog-content .title h4 a{color: var(--btn-bg-color); transition: var(--transition);}
.blog-content .title h4 a:hover{
    color: var(--main-t-color);
}
.blog-item{
    position: relative;
    overflow: hidden;
}
.play-blog-video {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(1%, -50%);
    width: 100%;
    height: 100px;
    line-height: 117px;
    background: #ffffffb5;
    text-align: center;
}
.play-blog-video span {
    color: var(--btn-bg-color);
    font-size: 22px;
    border: 3px solid var(--btn-bg-color);
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
}
.video-for-popup {
    position: relative;
    background: transparent;
    padding: 25px;
    width: auto;
    max-width: 720px;
    margin: 20px auto;
}
.mfp-close-btn-in .mfp-close {
    color: #ffffff;
}
/*===========================
end blog section
=============================*/
/*===========================
client-testimonial section
=============================*/
#client-testimonial{
    padding: 10rem;
    position: relative;
    background: url(../img/t-bg-1.webp) no-repeat top right;
}
.client-slider .slider-item {
    position: relative;
    margin: 10px;
    box-shadow: 0 0 7px 0 rgb(83 83 83 / 59%);
    height: 100%;
}
.client-slider .slider-item::before{
    position: absolute;
    content: "";
    top: 0;left: 0;
    height: 100%;width: 100%;
    background: rgba(255, 81, 81, 0.644);
}
.client-slider .slick-center.slider-item::before{
    width: 0%;
    background: transparent;
}

.client-slider .slider-item img{
    width: 100%;height: 120px;
}

.client-slider-content {
    padding: 5rem;
    padding-bottom: 85px;
    margin-top: 5rem;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 #8f8f8fba;
    background: url(../img/c-bg.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 9;
}
.client-slider-content::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;width: 100%;
    background: #ffffffad;
    z-index: -1;
}
.client-slider-content .quote-icon span {
    color: var(--btn-bg-color);
    font-size: 40px;
}
.client-slider-for .slider-for-item p.lato-para{
    font-size: 1.4rem;
    color: var(--main-t-color);
    font-style: italic;
    margin: 0 auto;
    text-align: center;
}
.title-name .name {
    font-size: 1.6rem;
    line-height: 1.92rem;
    color: var(--btn-bg-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 14px;
}
.title-name .title {
    line-height: 2.4rem;
    font-size: 1.4rem;
    color: var(--main-t-color);
    font-weight: 600;
}

/*===========================
end client-testimonial
=============================*/
/*===========================
Team
=============================*/
#team{
    background: #F1F1F1;
    padding: 10rem;
}
.team-slider-item img{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    transition: var(--transition);
}
.team-slider-item img:hover{
    -webkit-filter: none;
            filter: none;
}
/*===========================
end Team
=============================*/
/*===========================
50% off 
=============================*/
#off-section{
    padding: 10rem;
    background: url(../img/vegetable.webp) no-repeat left;

}

#off-section .main-heading-title h1{
    font-size: 3.6rem !important;
    line-height: 4.32rem;
    color: var(--main-t-color);
    font-family: var(--great-font);
}
#off-section .main-heading-title h1.sub-title{
    font-size: 3rem;
    line-height: 3.6rem;
    color: var(--main-t-color);
    font-family: var(--raleway-font);
}
#off-section p.lato-para{
    margin-top: 2rem;
}


/*===========================
end 50% off
=============================*/
/*===========================
Footer section
=============================*/
#footer{
    padding: 6rem;
    background: #f1f1f1;
}
.widget .widget-title{
    font-size: 1.8rem;
    color: var(--main-t-color);
    margin-bottom: 30px;
}
.widget .address-bar ul{
    margin-top: 20px;
}
.widget .address-bar ul li{
    font-size: 1.6rem;
    font-family: var(--lato-font);
    margin: 10px 0;
}
.widget .address-bar ul li span{
    font-weight: 700;
}
.widget .address-bar ul li a{
    color: var(--main-t-color);
}
.widget-open ul li{
    font-size: 1.4rem;
    font-family: var(--lato-font);
}
.widget-open ul li span{
    font-weight: 600;
}
.instragram-img{
    position: relative;
}
.instragram-img img{
    width: 100%;
}
.instragram-img::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #e54c2ab2;
    transition: var(--transition);
}
.instragram-img:hover::before{
    height: 100%;
}
.new-letter-form input{
    width: 100%;
    background: var(--fff-color);
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #bbb;
}
.new-letter-form input:focus{
    outline: none;
    border: 1px solid var(--btn-bg-color);
}
.new-letter-form button.main-btn{
    margin-top: 20px;
    padding: 12px 35px;
}
footer{
    padding: 2rem;
    background: var(--btn-bg-color);
    color: var(--fff-color);
}
footer h6{
    font-size: var(--small-font);
}
/*===========================
end Footer section
=============================*/


.scrollTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: var(--btn-bg-color);
    height: 50px;
    width: 50px;
    color: var(--fff-color);
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: var(--transition);
    -webkit-animation: scrollTopAnim 2s infinite alternate;
            animation: scrollTopAnim 2s infinite alternate;
    z-index: 999999;
    display: none;
}
@-webkit-keyframes scrollTopAnim{
    from {
        transform: translateY(-50px) rotate(45deg);
    }

    to {
        transform: translateY(0) rotate(45deg);
    }
}
@keyframes scrollTopAnim{
    from {
        transform: translateY(-50px) rotate(45deg);
    }

    to {
        transform: translateY(0) rotate(45deg);
    }
}
.scrollTop.active{
    display: block;
}
.scrollTop:hover{
    background: var(--main-t-color);
}
.scrollTop span {
    transform: rotate(-45deg);
    display: inline-block;
}

/*=============preloader================*/

.preloader{
    position: fixed;
    z-index: 9999999;
    background: #fff url(../img/preloader1.gif) no-repeat center;
    width: 100%;
    height: 100vh;
}


